#mainpage{
	width: 96%; 
	min-height: 460px;
	background-color: #cceeff;
	margin: auto;
	display: block;
	border-top: 1px solid #002e4d;
	border-bottom: 1px solid #002e4d;

}

#form{
	vertical-align: top;
	display: inline-block;
	margin: auto;
}

#logout{
	align-self: left;
	height: 30px;
	width: relative;
  	border: 2px solid #002e4d;
  	margin-top: 5px;
  	font-weight: bold;
}

#table{
	margin: 30px 0px 0px 150px;
	vertical-align: top;
	display: inline-block;
}

#instruction{
	margin: 25px 0px 0px 450px;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;	
}

.selection-btn {
	margin: 10px 0px 25px 110px;
	height: 100px;
	width: 150px;
	font-style: italic;
	font-weight: bold;
	border: 2px solid #002e4d;
}

.selection-btn:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}