#mainpage{
	width: 96%; 
	min-height: 460px;
	background-color: #cceeff;
	margin: auto;
	vertical-align: top;
	display: block;
	border-top: 1px solid #002e4d;
	border-bottom: 1px solid #002e4d;

}

#form{
	vertical-align: top;
	display: inline-block;
	margin: auto;
}

#logout{
	align-self: left;
	height: 30px;
	width: relative;
  	border: 2px solid #002e4d;
  	margin-top: 5px;
  	font-weight: bold;
}

#instruction{
	margin: 20px 0px 0px 450px;
	font-style: italic;
	font-weight: bold;
	font-color: #002e4d;
	font-size: 30px;	
}

#selection-btn{
	margin: 5px 0px 0px 300px;
	height: 80px;
	width: 150px;
	font-style: italic;
	font-color: #002e4d;
	font-weight: bold;
	border: 2px solid #002e4d;

}

#selection-btn:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}