#header{
	background-color: #f2f2f2;
	width: 96%; 
	margin: auto;
	height: 80px;
	display: block;
	}
	
	.logo{
		height: 70px;
		width: 80px;
		margin:1 5px 0px 0px 0px;
		display: inline-block;
	}

	.displayName{
		vertical-align: top;
		display: inline-block;
		margin: 0px 0px 0px 0px;
	}

	.companyName{
		margin: 0px 0px 0px 0px;
		font-style: italic;
		font-size: 40px;
		color: #1aa3ff;
		font-family: bold;
	}
	.route{
		color:  #002e4d;
		font-size: 45px;
	}

	.companySubName{
		vertical-align: top;
		margin: 0px 0px 0px 80px;
		font-style: italic;
		color: #1aa3ff;
		font-size: 20px

	}

	.searchBox{
		vertical-align: top;
		display: inline-block;
		padding: 10px;
		margin: 20px 0px 0px 550px;
		}
	
	.search{
		border: 1px solid #002e4d;
		height: 20px;
	}

	.linkgo{
		font-family: bold;
		border: 1px solid #002e4d;
		height: 25px;
		font-color:  #002e4d;

	}