
#mainpage{
	width: 96%; 
	min-height: 460px;
	background-color: #cceeff;
	margin: auto;
	display: block;
	vertical-align: top;
	border-top: 1px solid #002e4d;
	border-bottom: 1px solid #002e4d;
}

#form{
	vertical-align: top;
	background-color: #f2f2f2;
	height: 300px;
	width: 275px;
	margin: 50px 0px 0px 450px;
	border: 2px solid #1aa3ff;
}

#login{
	margin: 40px 0px 0px 75px;
	font-style: italic;
	color: #002e4d;

}

#username{
	margin: 10px 0px 0px 5px;
	height: 20px;
	border: 2px solid #002e4d;
}

#password{
	margin: 10px 0px 0px 5px;
	height: 20px;
	border: 2px solid #002e4d;
}

#labelname{
	margin: 15px 0px 0px 15px;
	font-style: italic;
	font-weight: bold;
	color: #002e4d;
}

#login-btn{
	margin: 20px 50px 0px 110px;
	height: 50px;
	width: 75px;
	font-style: italic;
	font-color: #002e4d;
	font-weight: bold;
	border: 2px solid #002e4d;
}

/* Responsive stuff for final block */
.phone_only {
    display: none; 
}
.tablet_only {
    display: none; 
}
.desktop_only {
    display: none; 
}


@media screen and (max-width: 480px) {
    .phone_only {
        display: inline-block; 
    }
    .tablet_only {
        display: none; 
    }
    .desktop_only {
        display: none; 
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .tablet_only {
        display: inline-block; 
    }
    .phone_only {
        display: none; 
    }
    .desktop_only {
        display: none; 
    }
}

@media screen and (min-width: 1024px) {
    .desktop_only {
        display: inline-block; 
    }
    .phone_only {
        display: none; 
    }
    .tablet_only {
        display: none; 
    }
}