#container{
	width: 96%; 
	min-height: 460px;
	background-color: #cceeff;
	margin: auto;
	display: block;
	border-top: 1px solid #002e4d;
	border-bottom: 1px solid #002e4d;
}

#display{
	vertical-align: top;
	display: inline-block;
    min-height: 460px;
    margin: auto;
}

#resolved-table{
	vertical-align: top;
	background-color: #f2f2f2;
	margin: 20px 0px 0px 75px;
}

#reimb-table-info{
	margin: 40px 0px 0px 75px;
}


table, thead, td{
	border: 1px solid black;
  	border-collapse: collapse;
}

#logout{
	align-self: left;
	height: 30px;
	width: relative;
  	border: 2px solid #002e4d;
  	margin-top: 5px;
  	font-weight: bold;
}



#back{
	align-self: left;
	height: 30px;
	width: relative;
  	border: 2px solid #002e4d;
  	margin-top: 5px;
  	font-weight: bold;

}

#instruction{
	margin: 20px 15px 0px 10px;
	font-style: italic;
	font-weight: bold;
	font-size: 15px;	
}

.selection-btn {
	margin: 10px 0px 15px 50px;
	height: 70px;
	width: 160px;
	font-style: italic;
	font-weight: bold;
	border: 2px solid #002e4d;
}

#search-form{
	margin: 10px 0px 15px 50px;
	vertical-align: top;
	width: 160px;
	height: 150px;
	background-color: #f2f2f2;
	border: 2px solid #002e4d;
}
	p{
	margin: 10px 0px 0px 25px;
	font-style: italic;
	font-weight: bold;
	color: #002e4d;
	}
#labelname{
	font-style: italic;
	font-weight: bold;
	color: #002e4d;
}
#username-text{
	width: 150px;
	}
#search-btn{
	margin: 20px 10px 0px 50px;
	font-weight: bold;
	color: #002e4d;
}

.selection-btn:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}