#mainpage{
	width: 96%; 
	min-height: 460px;
	background-color: #cceeff;
	margin: auto;
	vertical-align: top;
	display: block;
	border-top: 1px solid #002e4d;
	border-bottom: 1px solid #002e4d;

}

#update-form{
	vertical-align: top;
	display: inline-block;
	background-color: #f2f2f2;
	height: 300px;
	width: absolute;
	margin: 50px 15px 0px 425px;
	border: 2px solid #1aa3ff;
}

#logout{
	height: 30px;
	width: relative;
  	border: 2px solid #002e4d;
  	margin-top: 5px;
  	font-weight: bold;
}

#submit-btn{
	margin: 10px 50px 0px 100px;
	height: 50px;
	width: 75px;
	font-style: italic;
	font-color: #002e4d;
	font-weight: bold;
	border: 2px solid #002e4d;
}

#labelname{
	margin: 15px 0px 0px 15px;
	font-style: italic;
	font-weight: bold;
	color: #002e4d;
}

#instruction{
	margin: 10px 0px 0px 40px;
	font-style: italic;
	color: #002e4d;
}

#email{
	margin: 0px 0px 0px 25px;
}